
body{
    background-color:rgba(0, 0, 0, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* =========Google Fonts ======== */
* {
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
 /* ======== Nav Section ======== */

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;align-items: center;

}
nav>p {
    font-size:36px;
    color:#e6533c;font-weight: bold;
    font-style: italic;
}



nav>div { 
    display: flex;
    gap:47px;
    padding: 4px 5px;
   align-items: center;
   border-radius:39px;
   border: 1px solid rgba(255, 255, 255, 0.1);
}
div>p {
font-size: 18px;
font-weight: bold;
color: #ffffff;

}

.home-btn {
background-color:#e6533c ;
border-radius:46px;
padding:5px 10px;
}

nav>span {
margin-right: 5px;
display: none;
}
.fa-bars{
    color: white;
}
/* =======BANNER SECTION ========= */
.banner-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;


}


.banner-left {
   
}
.banner-left>h1 {
    font-size:78px ;
    color:#ffffff;
}

.banner-left>p {
margin-top: 28px;
margin-bottom: 28px;
color: #ffffff;
}
.praimary-1 {
font-size: 18px;
color: #ffffff;
background-color:#e6533c ;
width: 224px;
padding: 16px 40px;
border-radius: 42px;
cursor: pointer;
row-gap:14px;
}

.praimary-1:hover {
    background-color:green;
    transition: 1s;
}
.praimary-2 {
font-size: 18px;
color: rgba(255, 255, 255, 1);
width: 228px;
font-weight: 600;
line-height: 22px;
padding: 16px 40px;
border-radius: 42px;
cursor: pointer;
background-color: transparent;
border: 1px solid gray;

}

.praimary-2:hover {
background-color:burlywood;
transition: 1s;
}

.banner-right {
  
    min-width: 200px;
    width: 50%;
    display:flex;
    justify-content: flex-end;
    position: relative;

}
.banner-right>img {
    width: 55%;
    object-fit: cover;
    

}

.tooltip {
background-color: rgb(75, 72, 72);
position: absolute;
right:-10%;
width: 193px;
height: 98px;
padding: 10px;
top:17%

}

.tooltip-2 {
    background-color: rgba(54, 53, 53, 0.973);
position: absolute;
left:30%;
top:80% ;
width: 193px;
height:120px;
padding: 10px;
display: flex;
align-items: center;
justify-content: space-between;
gap: 10px;

}
.ball{
    width: 50px;
    height: 50px;
    background-color: #e6533c;
    border-radius: 50px;
}
    /* ======  Trainings and Exercises ====== */
.grid-container>h1{
    font-size: 48px;
    color: #ffffff;
}
.grid-container{
    margin:100px;
}  
.grid-containe {
max-width: 1200px;

min-height: 300px;
margin:50px;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(2,200px);
}

.box-2{
    grid-column: 2 /span 2;
}

.box-4{
    grid-column: 1/3 ;
}

.grid-containe img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}


.grid-containe>div {
    position: relative;
}


.grid-containe>div>p{
position: absolute;
z-index: 50;
top: 0;
left: 10%;

}





/* =========Responsive Code ========= */
 /* =========For Mobile Device======= */
 @media screen and (max-width:425px) {
  .menu-container{
        display: none;}
   nav>span {
margin-right: 5px;
display:inline;     
 }
 nav>p{
    margin-left:20px;
 }
 .banner-container{
    flex-direction: column;
 }
 .banner-left, .banner-right {
    width: 100%;
 }
 .banner-left>p {
padding-left: 20px;
 }
 .banner-right>img {
    width:100%;
    
}
.praimary-2, .praimary-1 {
    width: 90%;
    margin-top: 20px;
   margin-left: 20px;
}
.banner-left>h1{
    font-size:68px;
    text-align: center;
}
.tooltip {
    right: 10%;
    left: 50%;
}

/* ========Training Section ====== */
.grid-containe {
    grid-template-columns: repeat(2,1fr);
}

.box-2{
    grid-column: auto;
}

.box-4{
    grid-column: auto ;
}
.box-3, .box-6 {
 display: none;
}
.grid-container>h1{
    font-size:40px;
    padding-left:20px;

}
.grid-container>p{
    padding-left: 20px;
}
 }