
body{
    background-color:rgba(0, 0, 0, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* =========Google Fonts ======== */
* {
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
 /* ======== Nav Section ======== */

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;align-items: center;

}
nav>p {
    font-size:36px;
    color:#e6533c;font-weight: bold;
    font-style: italic;
}



nav>div { 
    display: flex;
    gap:47px;
    padding: 4px 5px;
   align-items: center;
   border-radius:39px;
   border: 1px solid rgba(255, 255, 255, 0.1);
}
div>p {
font-size: 18px;
font-weight: bold;
color: #ffffff;

}

.home-btn {
background-color:#e6533c ;
border-radius:46px;
padding:5px 10px;
}
.fa-bars{
    color: white;
}











/* =========Responsive Code ========= */
 /* =========For Mobile Device======= */
 @media screen and (max-width:500px) {
  .menu-container{
        display: none;}
 }